@import 'vars';
@import 'mixins';

@include main;

section {
    @include clearfix;
    width: 100%;
    
}
header {
    width: 100%;
	height: 4em;
	background: grey;
	
	.headerleft{
		float: left;
		text-align: center;
		width: 20%;
		font-size: 2em;
		margin-top: 0.5em;
		color: white;

	}
    
    nav {
        width: 80%;
        height: 100%;
        background-color: $head-Foot;
        float: right;
        ul{
            list-style: none;
            li{
                
                float: right;
                padding: 1em 1em;
                a{
                    text-decoration: none;
                    color: #fff;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .menu {
        width:5%;
        height: 100%;
        float: right;
        background-color: $orange;
        img {
            width: 60%;
            padding: .4em .4em;
            margin: .7em;
            height: auto;
        }
    }   
}



.intro {
	height: auto;
	background: url('../img/main.jpg');
	background-size: cover;
	margin-bottom: 5em;

	h1, h2 {
		color: #fff;
		font-weight: normal;
		//background: rgba(55, 66, 73, 0.6);
		text-align: left;
		

		
	}

	h1 {
		margin-top: 40%;
		font-size: 4em;
		position: relative;
		transform: translate(0%,-400%);
		margin-left: 1em;
		
	}
	h2{
		position: relative;
		transform: translate(0%,-1000%);
		margin-left: 3em;

		
	}

	
}

.forma{


	border: 2px solid black;
	width: 50%;
	padding: 0.5em;
	background: white;
	float: right;

	.txtforma{
		padding-right: 9em;
	}

	.inputbutton{
		margin: 1em 0 1em 0;
		height: 2em;
	}

	.search{
		height: 2em;
		width: 5em;
		color: white;
		background: orange;

	}

}

.catalog{


	margin-top: 5em 10em 5em 10em;

	background-color: white;
	text-align: center;
	width: 100%;
    .column{
        width: 25%;
        float: left;
        text-align: center;

        img{
			width: 50%;
			height: auto;
			
        }
        
        a{
            background-color: $main_red;  //boja pozadine
            padding: 0.5em 3em;  // siri element
            color: white;   //text boja
            text-transform: uppercase;
            text-decoration: none;
		}

		.topparagraf{
			font-weight: bold;
			font-size: 1em;
			text-align: center;
		}

		.bottomp{
			text-align: left;
			margin-top: 2em;
		}
	}

}

.slikatext{
	width: 100%;
	height: auto;

	margin: 5em 0 5em 0;
	


	.slikaleft{
		width: 50%;
		height: auto;
		float: left;
	}

	.textslika{

		float: right;
	}

	.txt1{
		font-weight: bold;
		text-align: left;
		text-indent: 2em;
		font-size: 3em;
	}

	.lorem{
		margin-top: 5em;
		text-indent: 2em;
		text-align: left;
		margin-left: 5em;
	}

	
}




.contact {
	background: $teget;
	.mapHolder {
		float: left;
		margin: 1em;
		width: 30%;
		iframe {
			width: 100%;
		}
	}
	.textcontact{
		float: left;
		margin-left: 15em;
		margin-top: 2em;
		nav{
			ul{
				li{
					display: inline-block;
				}
			}
		}
		
	}

	div{
		img{
			width: 30%;
			height: auto;
		}
	}

	


}


h3, h4{
	margin-top: 1em;
	margin-bottom: 1em;
}

h3{
	color: $Zuta;
}

h4{
	color: white;
}

.x{
	color: yellow;
}





@media screen and (max-width: 1200px){
    	.contact {
		.mapHolder {
			width: 50%;
			float: none;
			margin: 1em auto;
		}
		form {
			width: 100%;
		}
	}
}
@media screen and (max-width: 800px){
    	.contact {
		.mapHolder {
			width: 80%;
		}
		form {
			margin: 1em 0;
			.contactInput, .contactInput[type="text"] {
				width: 96%;
				float: none;
			}
		}
	}
}